In [1]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
smallest_elem = min(original_list)
sorted(original_list, key=lambda x: smallest_elem-1 if x > 0 else x)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data_df = pd.read_csv('JEOPARDY_DATA.csv')
data_df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [3]:
data_df.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [6]:
df_round = pd.get_dummies(data_df[[' Round']])
df_round

,Round_Double Jeopardy!,Round_Final Jeopardy!,Round_Jeopardy!,Round_Tiebreaker
0,False,False,True,False
1,False,False,True,False
2,False,False,True,False
3,False,False,True,False
4,False,False,True,False
...,...,...,...,...
216925,True,False,False,False
216926,True,False,False,False
216927,True,False,False,False
216928,True,False,False,False
216929,False,True,False,False

In [17]:
data_df[" Value"]

0           $200
1           $200
2           $200
3           $200
4           $200
           ...
216925    $2,000
216926    $2,000
216927    $2,000
216928    $2,000
216929        NaN
Name:  Value, Length: 216930, dtype: object

In [15]:
data_df[" Value"] = data_df[" Value"].fillna("0")
value_list = data_df[' Value'].tolist()
value_list
filtered_list = list(map(lambda num: int(num.replace("$","")
                                            .replace(" ","").replace(",","")),
                            value_list))
data_df[" Value"] = filtered_list 
data_df[" Value"] = data_df[" Value"].astype(float)
data_df[" Value"]

0          200.0
1          200.0
2          200.0
3          200.0
4          200.0
           ...
216925    2000.0
216926    2000.0
216927    2000.0
216928    2000.0
216929       0.0
Name:  Value, Length: 216930, dtype: float64